/.vs/
/packages/
/AILinkFactoryAuto/obj/
/AILinkFactoryAuto/bin/
/AILinkFactoryAuto/.vs/
/AILinkFactoryAuto/Debug/
/Debug/
/Release/
/ipch/

UpgradeLog.htm

*.sdf
*.opensdf
*.idb
*.pdb
*.bsc
*.DotSettings.user
*.VC.db
*.VC.VC.opendb
*.v12.suo
*.csproj.user
*.vcxproj.filters
*.vcxproj.user